.artist-name
{
    font-size: 5em;
}

.verified-text
{
    display: inline !important;
}

.bot-5
{
    bottom: 5%!important;
}

.artist-img
{
    object-fit: cover !important; 
    height: 100% !important;
}

.text-shadow
{
    text-shadow: 1px 2px 2px #000000;
}

.top-artist
{
    height: 20em !important
}

