#colonna-centrale {
  padding-bottom: 20vh;
}

#card-title {
  font-size: 1.25rem;
}
#card-text {
  font-size: 1rem;
}
.my-cards {
  border-radius: 6%;
}
.card-img-top {
  border-radius: 6%;
}
.position-absolute {
  padding: 5px;
  width: 1.5em;
  z-index: 2;
}
