/* Font */

@font-face {
    font-family: CircularStd-black;
    src: url("./../fonts/CircularStd-Black.otf") format("opentype");
}

body
{
}

/* BACKGROUNDS*/

.bg-black
{
    background-color: #000000 !important
}

.bg-spotify
{
    background-color: #202020 !important
}

.bg-spotify-card
{
    background-color: #161616 !important;
}

.bg-spotify-welcome-card
{
    background-color: #2c2c2c !important
}

/* TESTO E PULSANTI*/

.text-spotify
{
    color: #2c2c2c !important
}

.btn-spotify
{
    background-color: #1ed760 !important
}


/* COLONNA SINISTRA*/

#left-column
{
}

#first-block
{
    margin: 0px 0px 0px 0px !important;
    font-family: CircularStd-black;
}

#second-block
{
    margin: 0px 0px 0px 0px !important;
}

p
{
    margin: 0px !important;
    padding: 0px !important;
}

#hr-separatore
{
    margin: auto !important;
}

.lateral-column
{
    z-index: 5;
}

#left-column-content
{
    resize: horizontal !important;
    min-width: 250px;
    max-width: 100%;
    overflow: auto;
    overflow: hidden;
    left: 0px !important;
}